apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-0.10
images:
- name: k8s.gcr.io/provider-aws/aws-ebs-csi-driver
  newTag: v1.0.0
resources:
- resources/crd_snapshotter.yaml
patchesStrategicMerge:
- eks_iam_for_sa.yaml
