apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/alpha/?ref=release-0.9
resources:
- resources/crd_snapshotter.yaml
patchesStrategicMerge:
- eks_iam_for_sa.yaml
