kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: gp2
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: ${provisioner}
parameters:
  type: gp2
  ${fstype}
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: high-iops-ssd
provisioner: ${provisioner}
parameters:
  type: io1
  iopsPerGB: "50"
  ${fstype}
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: medium-iops-ssd
provisioner: ${provisioner}
parameters:
  type: io1
  iopsPerGB: "25"
  ${fstype}
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: throughput
provisioner: ${provisioner}
parameters:
  type: st1
  ${fstype}
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: cold-storage
provisioner: ${provisioner}
parameters:
  type: sc1
  ${fstype}
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
